<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liusp.roommv.dao.salesOrder.SalesOderDao">
<!-- salesOrder相关开始 -->
<insert id="addSalesDao" parameterType="SalesOrder">
    INSERT INTO salesorder (user_id,product_id)
    VALUES
    (
    #{userId,jdbcType=VARCHAR},#{productId,jdbcType=VARCHAR}
    )
</insert>
<!-- salesOrder结束 -->
</mapper>