<!DOCTYPE HTML>
<html lang="en">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title>你好，用户</title>
  <link href="../css/bootstrap.min.css" type="text/css"
	rel="stylesheet" />
<link href="../css/bootstrap-theme.min.css"
	type="text/css" rel="stylesheet" />
 </head>
 <body>
  <div name="content">你好，这是一个测试页面，你好出现第二次，你。。。。。。。。。。。。。。。。好刘书鹏</div>
  <p name="author">jedis</p>
  <p name="createDate"></p>
 </body>
</html>
	<script src="http://libs.baidu.com/jquery/1.11.1/jquery.js" type="text/javascript"></script>
	<script type="text/javascript">
		//为了保险起见，当CDN服务器（挂了）上获取不到jQuery时，则使用自己的
		window.jQuery||document.write("<script src='../js/jquery-1.11.1.min.js'><\/script>");
	</script>
	<script src="http://libs.baidu.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
	<script type="text/javascript">
		//为了保险起见，当CDN服务器（挂了）上获取不到jQuery时，则使用自己的
		window.jQuery||document.write("<script src='../js/bootstrap.min.js'><\/script>");
	</script>
