<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liusp.roommvserver.dao.VisitInfoDao">

	<insert id="addVisitInfo" parameterType="VisitInfo">
		INSERT INTO visitinfo (
		userId,
		ip,
		referUrl,
		currentUrl,
		createDate)
		VALUES
		(
		#{userId,jdbcType=VARCHAR},#{ip,jdbcType=VARCHAR},#{referUrl,jdbcType=VARCHAR},#{currentUrl,jdbcType=VARCHAR},#{createDate}
		)
	</insert>


</mapper>